*,
::before,
::after {
  margin: 0;
  padding: 0;
  /* 标准的样式写法 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 点击高亮 */
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*  */
input {
  border: none;
  /* 轮廓线 */
  outline: none;
  /* 有一部分 移动端浏览器 会默认的 为 input 这个标签 添加一些 3d渲染效果  高光 3d渐变 */
  -webkit-appearance: none;
}
/* 左右浮动 */
.f_r {
  float: right;
}
.f_l {
  float: left;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.b_t {
  border-top: 1px solid gray;
}
.b_b {
  border-bottom: 1px solid gray;
}
.b_l {
  border-left: 1px solid gray;
}
.b_r {
  border-right: 1px solid gray;
}
